.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

button.navbar-toggler {
  display: none;

  .menu-btn__cross {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

/* stylelint-disable no-descending-specificity */
header {
  width: 100%;
  visibility: visible;
  position: relative;
  transition: ease 0.25s;
  height: 80px;
  z-index: 999;

  &.navbar {
    padding: 0 4.5vw 0 4.5vw;
  }

  .container-fluid {
    max-width: 1400px;

    .brand {
      z-index: 1001;
      height: auto;
      background-repeat: no-repeat;
      position: relative;
      padding: 0;
      width: 100%;
      max-width: 250px;
    }

    .intermac-logo {
      svg#Layer_1 {
        display: block;
        width: 150px;

        .fillcolor {
          fill: var(--primary-color);

          /*
          stroke: $white;
          stroke-width: 0;
          */
        }
      }
    }

    nav {
      top: 0;
      position: relative;

      .menu-menu-container {
        padding-right: 70px;

        ul.navbar-nav {
          li {
            &.menu-item {
              align-items: flex-end;
              position: relative;
              font-size: 1.5rem;
              pointer-events: all;
              white-space: nowrap;

              &:not(:last-child) {
                margin-right: 2.5rem;
              }
            }

            a {
              color: var(--primary-color);
              font-size: 100%;
              font-weight: 600;

              &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0.2rem;
                left: 0;
                height: 0.2rem;
                background: #00ddb9;
                transform-origin: 0 50%;
                transform: translateZ(0) scaleX(0);
                transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
              }

              &:hover {
                &::after {
                  transform: translateZ(0) scaleX(1);
                  background: var(--primary-bg-color);
                }
              }
            }
          }
        }
      }

      .navigation-bg {
        display: none;
      }
    }
  }

  &.is-at-top {
    transition: ease 0.4s;
    height: 100px;
    background: transparent;
    position: fixed;

    .container-fluid {
      .intermac-logo {
        svg#Layer_1 {
          .fillcolor {
            fill: var(--primary-color);

            /*
            stroke: var(--primary-color);
            stroke-width: 0;
            */
          }
        }
      }

      nav {
        .menu-menu-container {
          ul.navbar-nav {
            li {
              a {
                color: var(--primary-color);

                &::after {
                  background: var(--primary-bg-color);
                }

                &:hover {
                  &::after {
                    background: var(--primary-color);
                  }
                }
              }
            }
          }
        }

        .navigation-bg {
          display: none;
        }
      }
    }
  }

  &.is-hidden {
    position: fixed;
    visibility: hidden;
    height: 0;
    z-index: 999;
    background: transparent;
    transition: ease 0.4s;

    .container-fluid {
      transition: 0.65s;
      visibility: hidden;
      width: 100%;
      transform: translateY(-70px);
    }
  }

  &.is-sticky {
    position: fixed;
    visibility: visible;
    height: 80px;
    z-index: 999;
    background: var(--primary-bg-color);
    transition: ease 0.4s;

    .container-fluid {
      .intermac-logo {
        svg#Layer_1 {
          display: block;
          width: 150px;

          .fillcolor {
            fill: var(--primary-color);

            /*
            stroke: var(--primary-color);
            stroke-width: 0;
            */
          }
        }
      }

      nav {
        top: 0;

        .menu-menu-container {
          ul.navbar-nav {
            li {
              a {
                color: var(--dark-blue-color);
                font-size: 100%;
                font-weight: 600;

                &::after {
                  content: "";
                  position: absolute;
                  right: 0;
                  bottom: 0.2rem;
                  left: 0;
                  height: 0.2rem;
                  background: var(--primary-bg-color);
                  transform-origin: 0 50%;
                  transform: translateZ(0) scaleX(0);
                  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                }

                &:hover {
                  &::after {
                    background: var(--dark-blue-color);
                  }
                }
              }
            }
          }
        }

        .navigation-bg {
          display: none;
        }
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */

@include media-breakpoint-between(xs, md) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  button.navbar-toggler {
    display: block;
    position: fixed;
    top: -0.3rem;
    right: -0.3rem;
    z-index: 1000;
    height: 4rem;
    padding: 0 4.3rem 0 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-font-color);
    background: var(--secondary-bg-color);
    border: none;
    border-radius: 2.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    pointer-events: all;

    &::before {
      /*
      code not yet supported on safari/firefox
      top: calc(50% - 100vmax);
      right: calc(-1 * (100vmax) + 1.5rem);
      width: calc(2 * (100vmax, 2.5rem));
      height: calc(2 * (100vmax, 1.5rem));
      transform: scale(calc(1 / 60));
      */

      content: "";
      position: absolute;
      right: 8px;
      display: block;
      top: 8px;
      z-index: 100;
      width: 25px;
      background: #e8e8e8;
      height: 25px;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      box-shadow: 0 0 0 0 #e8e8e8, 0 0 0 0 #e8e8e8;
      cursor: pointer;
    }

    .menu-btn__cross {
      position: absolute;
      top: calc(50% - 0.8rem);
      right: 1.2rem;
      z-index: 101;
      width: 1.5rem;
      height: 1.5rem;
      display: block;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.1rem);
        right: 0;
        left: 0;
        height: 0.2rem;
        background: var(--primary-bg-color);
        opacity: 0;
        transform: rotate(0deg);
        transition: opacity 0.4s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 0.1rem);
        right: 0;
        left: 0;
        height: 0.2rem;
        background: var(--primary-bg-color);
        opacity: 0;
        transform: rotate(0deg);
        transition: opacity 0.4s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    .menu-btn__hole {
      position: absolute;
      top: calc(50% - 2rem);
      right: -0.01rem;
      z-index: 100;
      width: 4rem;
      height: 4rem;
      background: #4a5bcf;
      border-radius: 50%;
      transform: scale(0.35);
      transition: background 0.6s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:focus {
      outline: none;
    }

    svg.mobile_ani {
      content: "";
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 2rem;
      height: 2rem;
      transform: scale(1);
      border-radius: 50%;
      pointer-events: none;
      transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  header {
    height: 50px;
    padding: 2rem;

    .container-fluid {
      transform: translateY(0);

      .brand {
        left: calc(1rem - 1rem);
        height: 2rem;
        top: 0;
        background-repeat: no-repeat;
        position: relative;
        padding: 0;
        width: 100%;
        max-width: 150px;
        transition: all 0.25s ease-in-out;
      }

      .intermac-logo {
        svg#Layer_1 {
          width: 115px;
        }
      }

      nav {
        overflow-y: visible;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 10.4rem;
        right: 0;
        bottom: auto;
        left: 0;
        z-index: 1001;
        padding: 0 5.73vw 6.5rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;

        .menu-menu-container {
          position: relative;
          text-align: right;
          padding: 0;

          ul.navbar-nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            li {
              &.menu-item {
                line-height: 1;
                font-size: 2rem;
                margin-right: 0;
                align-items: flex-end;

                &:not(:last-child) {
                  margin-right: 0;
                  margin-bottom: 1.5rem;
                }

                a {
                  font-size: 1.4em;
                  padding-bottom: 15px;
                }
              }
            }
          }
        }

        .navigation-bg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          display: block;

          &.one {
            width: 4px;
            background-color: $turquoise;
          }

          &.two {
            width: 0;
            background-color: $blue;
          }
        }
      }
    }

    &.is-hidden {
      position: fixed;
      visibility: visible;
      height: 50px;
      z-index: 999;
      background: transparent;
      transition: ease 0.4s;

      .container-fluid {
        visibility: visible;
        width: 100%;
        transform: translateY(0);

        .intermac-logo {
          visibility: hidden;
          transform: translateY(-70px);
        }
      }
    }

    &.is-sticky {
      position: fixed;
      visibility: visible;
      height: 50px;
      z-index: 999;
      background: transparent;
      transition: ease 0.4s;

      .container-fluid {
        visibility: visible;
        width: 100%;
        transform: translateY(0);

        .intermac-logo {
          visibility: hidden;
          transform: translateY(-70px);

          svg#Layer_1 {
            display: block;
            width: 115px;

            .fillcolor {
              fill: var(--primary-color);

              /*
              stroke: var(--primary-color);
              stroke-width: 0;
              */
            }
          }
        }

        nav {
          .menu-menu-container {
            ul.navbar-nav {
              li {
                a {
                  color: var(--dark-blue-color);
                }
              }
            }
          }
        }
      }
    }

    &.is-at-top {
      height: 50px;
      background: transparent;
      position: absolute;

      .container-fluid {
        nav {
          .menu-menu-container {
            ul.navbar-nav {
              li {
                a {
                  color: var(--dark-blue-color);
                }
              }
            }
          }
        }
      }
    }
  }

  body.menu-open {
    button.navbar-toggler {
      &::before {
        box-shadow: 0 0 0 150vw #e8e8e8, 0 0 0 150vh #e8e8e8;
        border-radius: 0;
        background-color: #e8e8e8;
      }

      &:focus {
        outline: none;
      }

      .menu-btn__cross {
        &::before {
          opacity: 1;
          transition: opacity 0.5s 0.1s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
          transform: rotate(45deg);
        }

        &::after {
          opacity: 1;
          transform: rotate(-45deg);
        }
      }

      .menu-btn__hole {
        background: #ff4f4f;
        transform: scale(1);
      }
    }

    header {
      .container-fluid {
        .intermac-logo {
          svg#Layer_1 {
            .fillcolor {
              fill: var(--primary-color) !important;
            }
          }
        }

        nav {
          top: 10.4rem;
          opacity: 1;
          pointer-events: all;
          transition: opacity 0.5s 0.4s;
        }
      }

      &.is-hidden,
      &.is-sticky {
        .container-fluid {
          .intermac-logo {
            visibility: visible;
            transform: translateY(0) !important;
          }
        }
      }
    }
  }
}

[data-theme="dark"] {
  button.navbar-toggler {
    color: var(--primary-color);
    background: #3342a9;

    &::before {
      background: var(--bg-color);
      box-shadow: 0 0 0 0 #161625, 0 0 0 0 #161625;
    }

    .menu-btn__hole {
      background: #3342a9;
    }
  }

  body.menu-open {
    button.navbar-toggler {
      &::before {
        background: var(--dark-blue-bg-color);
        box-shadow: 0 0 0 150vw #161625, 0 0 0 150vh #161625;
      }

      .menu-btn__cross {
        &::before {
          background: var(--primary-bg-color);
        }

        &::after {
          background: var(--primary-bg-color);
        }
      }

      .menu-btn__hole {
        background: #f2f2f2;
      }
    }
  }
}
