.swiper-container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;

  .swiper-wrapper {
    z-index: 1;

    .swiper-slide {
      text-align: center;
      font-size: 0.7em;
      border-radius: 1.6rem;
      overflow: hidden;
      background: transparent;
      width: 5rem;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out !important;
      transform: scale(0.5) !important;

      .cardslide_wrapper {
        height: 50rem;

        .image {
          width: 100%;
          height: 22rem;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          display: block;
        }

        .cardslide_inner {
          height: 100%;
          color: $white;
          padding: 3rem 3.5rem 4rem;

          a {
            color: $white;
            transition: all 0.25s;

            &:hover {
              text-decoration: none;
              color: $white;
            }
          }

          h2 {
            text-align: left;
            font-weight: 600;
            font-size: 1.2em;
            margin-bottom: 1.2rem;
          }

          .image {
            width: 100%;
            height: 150px;
            display: block;
          }

          img {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 4rem;
            background-position: 50% 50%;
          }

          .entry-content {
            text-align: left;
          }
        }
      }

      &.swiper-slide-active {
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2rem 0.01rem;
        transform: scale(1) !important;
        background: var(--dark-blue-bg-color);
      }

      &.swiper-slide-prev {
        opacity: 0.3;
        transform: scale(0.9) translate3d(90%, 0, 0) !important;
      }

      &.swiper-slide-next {
        opacity: 1;
        transform: scale(1) !important;

        + div {
          opacity: 0;
          transform: scale(1) !important;
        }
      }
    }
  }

  .cardslide_navigation {
    .swiper-button-prev {
      right: 0;
      position: absolute;
      top: calc(50% - 2.5rem);
      z-index: 10;
      width: 5rem;
      height: 5rem;
      background: rgba(var(--dark-blue-bg-color), 0.5);
      border: none;
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;

      &.swiper-button-disabled {
        visibility: hidden;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 0.6rem);
        right: 1.7rem;
        z-index: 1;
        width: 1.7rem;
        height: 1.1rem;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAhCAQAAACc9SimAAAAS0lEQVR42mNgIB38lydWYcz/X/9jiFMIATHEKiSkGEUhfsX/jf+/H1U8pBUnoSn9hSOJEm3qqEI6KyQpx5JQDpBUupBUZpFUEhIDANqO2qDxm8F1AAAAAElFTkSuQmCC) 50% 50%/0.7rem 1.1rem no-repeat;
        transform: scale(1) rotate(0);
        transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &:hover {
        background: rgba(var(--dark-blue-bg-color), 1);
      }
    }

    .swiper-button-next {
      left: 0;
      position: absolute;
      top: calc(50% - 2.5rem);
      z-index: 10;
      width: 5rem;
      height: 5rem;
      background: rgba(var(--dark-blue-bg-color), 0.5);
      border: none;
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;

      &.swiper-button-disabled {
        visibility: hidden;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 0.6rem);
        right: 1.7rem;
        z-index: 1;
        width: 1.7rem;
        height: 1.1rem;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAhCAQAAACc9SimAAAAS0lEQVR42mNgIB38lydWYcz/X/9jiFMIATHEKiSkGEUhfsX/jf+/H1U8pBUnoSn9hSOJEm3qqEI6KyQpx5JQDpBUupBUZpFUEhIDANqO2qDxm8F1AAAAAElFTkSuQmCC) 50% 50%/0.7rem 1.1rem no-repeat;
        transform: scale(1) rotate(180deg);
        transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &:hover {
        background: rgba(var(--dark-blue-bg-color), 1);
      }
    }
  }
}

/*
@include media-breakpoint-between(xs, md) {}

@include media-breakpoint-down(xs) {}
*/
