.comment-list {
  @extend .list-unstyled;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

#comments {
  background: var(--secondary-bg-color);
  color: var(--secondary-font-color);
  margin-top: 5rem;
  margin-left: 12rem;
  margin-right: 22rem;
  margin-bottom: 5rem;
  padding: 2em;
  border-radius: 1.6rem;

  #respond {
    .comment-form {
      label {
        font-size: 0.7em;
      }

      input,
      textarea {
        height: 40px;
        font-size: 1em;
        background-color: var(--input-bg-color);
        color: var(--primary-color);
        border-color: var(--bg-color);
        border-radius: 0.8rem;
        transition: 0.25s all ease-in-out;
      }

      textarea {
        height: 120px;
      }

      .comment-notes {
        font-size: 0.7em;
      }

      .comment-form-cookies-consent {
        label.wp-comment-cookies-consent {
          padding: 15px;
        }
      }

      .form-submit {
        input.submit {
          background: var(--dark-blue-bg-color);
          color: var(--input-bg-color);
          padding: 0.3em 2em;
          font-size: 0.7em;
          margin: 2em 0 0 0;
          height: auto;
        }
      }
    }
  }
}
